html
{
    font-size: calc(16px + 0.4vw); 

    background-color: rgb(20, 20, 20);
}

/* Main Title */
.mainTitle
{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.mainTitle ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.8rem 1rem;
    margin: 0px;
    gap: 10px;
}

.mainTitle ul .logoMT
{
    aspect-ratio: 1 / 1;
    width: 3rem;
}

.mainTitle ul .nameMT
{
    aspect-ratio: 2.4 / 1;
    width: 5.6rem;
}

.mainTitle ul span
{
   font-size: 2rem;

    line-height: 3rem;
    text-align: center;
}
/* ----------- */

/* Selection Tray */

.selectionTray ul
{
    display: flex;
    justify-content: center;

    padding: 5px;
}

.selectionTray ul li
{
    list-style: none;

    padding: 0px 0.4rem;
    margin-top: -4px;
}

.selectionTray ul li input
{
    width: 80px;
    text-align: center;
    border-radius: 6px;
}